

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.App{
  display: flex;
}
.players-container{
  width: 40%;
  margin-left: 100px;
  margin-right: 20px;
}
.budget{
  
  width: 20%;
  margin: 5px;
  padding: 5px;
}
.added-player{
  
  width: 20%;
  margin: 5px;
  padding: 5px;
}